# Dependencies
node_modules
package-lock.json

# Build outputs
.next
out
dist
build

# Test coverage
coverage

# Environment files
.env
.env.*

# Prisma
prisma/migrations

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
